/* =============== LAYOUT - MENU AREA =============== */
// color
@import "helpers/grid";

$yellow: #fce38a;
$pink: #f38181;
$dark: #343a40;
$white: #fff;

.navbar {
  padding: 0 !important;
  @include pad() {
    padding: 0.5rem 1rem !important;
  }
}

#ho73-navbar .navbar-nav > li > a {
  color: $white;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  margin: 0 12px;
}
#ho73-navbar .navbar-nav > li > a:hover,
#ho73-navbar .navbar-nav > .active > a,
#ho73-navbar .navbar-nav > .active > a:hover {
  color: $yellow;
  border-color: $yellow;
  background: none;
}

#ho73-dropdown > a {
  background-color: $dark;
  &:hover {
    color: $yellow;
  }
}

#ho73-nav-btn {
  i {
    color: $white;
  }
  :hover,
  :focus {
    color: $yellow;
    background-color: $pink;
    border-color: $pink;
    outline: none !important;
    box-shadow: none !important;
  }
}
